<!DOCTYPE html>
<html>
<head>
    <title>Whatsgram</title>
    <link rel="icon" type="image/png" href="/static/icons/whatsgram_icon.png" />
    <link rel="stylesheet" href="/static/styles/global-styles.css">
</head>
<body>
    <section class = "centered_section" id = "join_chat_section">
        <div id="joinChat">
            <h2>Join Chat</h2>
            <input id="username" placeholder="Enter your username" />
            <input id="room" placeholder="Enter room name" />
            <button onclick="joinChat()">Join</button>
        </div>
    </section>
    <section class = "centered_section">
        <div id="chat" style="display: none;">
            <div id = "chat_bar">
                <h2 id = "chat_room_title">Chat Room:</h2>
                <button onclick="leaveChat()">Leave</button>
            </div>
            <ul id="messages"></ul>
            <div id = "send_message_form">
                <input id="messageInput" autocomplete="off" placeholder="Type your message here..." />
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </section>

    <!-- Include SocketIO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script src="/static/scripts/main.js"></script>
</body>
</html>
